.viewer {
  display: flex;
  max-width: 96vw;
  margin: auto;
  background-color: hsl(0, 5%, 22%);
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 1rem;
  justify-content: space-between;
}

.viewer__window {
  display: flex;
  flex-direction: column;
  color: #fff;
  max-width: 49%;
}

hr {
  color: white;
  border-style: inset;
  border-width: 1px;
  margin: 0.5em auto;
  height: auto;
}

.viewer__window__line {
  display: flex;
  max-width: 100%;
  align-items: center;
}

.viewer__window__line span {
  width: 4ch;
  font-size: 0.8rem;
}

.viewer__window__line button {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 0.6rem;
  padding: 0;
  width: 1.2rem;
  height: 1.2rem;
  background-color: grey;
  outline: none;
  border: none;
  color: #fff;
  margin-left: 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.viewer__window__line p {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 4ch);
}

.viewer__window--keep p:not(:empty) {
  background-color: hsla(101, 53%, 33%, 0.75);
}

.viewer__window--remove p:not(:empty) {
  background-color: hsla(355, 51%, 55%, 0.75);
}
